<nav>
  <div class="nav-wrapper orange darken-3">
    <div class="container">
      <a href="/" class="brand-logo"><i class="far fa-newspaper"></i> USA-Yesterday</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/saved-articles">Saved Articles</a></li>
        <li><a href="/scrape">Scrape New Articles</a></li>
      </ul>
    </div>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a href="/">Home</a></li>
  <li><a href="/saved-articles">Saved Articles</a></li>
  <li><a href="/scrape">Scrape New Articles</a></li>
</ul>

<main>
  <br>
  <br>
  <div class="container blue lighten-5">
    <div class="row z-depth-5">
      <div class="section blue-text col s12">
        <h4 class="center-align"><b> About Me</b></h4>
        <div class="divider"></div>
      </div>
      
      <div class="col s8 offset-s2 m2 offset-m1">
        <div class="card center-align">
          <div class="card-image center-align">
            <img src="/assets/images/2018HeadShot.jpg" alt="David Ferro Headshot">
          </div>
        </div>
      </div>
      <div class="col s12 m8 section">
        <p>
          I am a full-stack web developer with experience in HTML, CSS, JavaScript, jQuery, Node.js, Express.js, MySQL, MongoDB, React.js, and Java.  My history has been in high school mathematics, having earned my Bachelor of Arts Degree in Mathematics and Education.  I taught for seven years, where I have been able to hone my logic-oriented skills and apply them to coding with ease.  I am a detail-oriented professional who has been consistently praised for producing positive results by the members of my administration and my coworkers.
        </p>
        <p>
          Through my current studies in Case Western Reserve's Full-Stack Web Development Coding Bootcamp and my study of Java as part of my Mathematics major, I have developed a skill set that's widely applicable, including programming in different languages, learning new languages quickly, front-end web design, and back-end server development.  Overall, I have consistently demonstrated analytical, critical thinking, and problem-solving abilities as a teacher and continue to improve upon them as a full-stack developer.
        </p>
        <br>
      </div>
    </div>
  </div>
</main>

<footer class="page-footer orange darken-3">
  <div class="footer-copyright">
    <div class="container">
      <div class="grey-text text-lighten-4 left">
        USA-Yesterday Article Scraper
      </div>
      <div class="right">
        <a class="grey-text text-lighten-3" href="https://github.com/davidferro91" target="_blank"><i class="fas fa-circle"></i> USA Today</a>
      </div>
    </div>
  </div>
</footer>
<script type="text/javascript" src="/assets/js/materialize.min.js"></script>
<script type="text/javascript" src="/assets/js/home.js"></script>